@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;0,900;1,400&display=swap");

html {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", "Lucida Sans", Verdana, sans-serif;;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
  min-height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
