body {
  width: 100%;
  height: auto;
  background-color: #f4f4f4;
}

.content {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-flow: column;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 2rem 3rem;
  box-shadow: 0 5px 5px 5px rgba(0,0,0,0.1);
}

@media (min-width: 1300px) {
  .content {
    width: 75rem;
  }
}

.main {
  display: flex;
  flex-flow: column;
}

.header {
  width: 100%;
  height: 7rem;
  display: flex;
}

.header__profile {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.header__author {
  margin-top: 1rem;
  margin-left: 2rem;
}

.main__description {
  width: 70%;
  height: auto;
}
.main__description p {
  line-height: 1.5;
}

.main__info {
  margin-top: 3rem;
}

.main__indentity dl dt {
  font-weight: bold;
}
.main__indentity dl dt::after {
  content: ":"
}

.main__address, .main__university, .main__complementar, .main__professional, .main__occupation, .main__programming, .main__languages {
  margin-top: 4rem;
}


.footer {
  padding: 2rem 0;
}

.footer .footer__separator {
  margin: 1rem 0;
  height: 1px;
  background-color: #222;
  color: #222;
}

.footer__link {
  background: rgb(255, 255, 255);
  width: max-content;
  padding: 1rem;
  height: 3rem;
  margin-top: 1rem;
  display: block;
  transition: .4s ease;
  text-decoration: none;
}
.footer__link:hover {
  box-shadow: 0 5px 5px 5px rgba(0,0,0,0.1);
  text-decoration: underline;
}

.main__title {
  margin: 1rem 0;
}
.main__subtitle {
  margin: .5rem 0;
}
.text {
  margin: .5rem 0;
}

h1{
text-align: center;
}

table, th, td {
border: 1px solid black;
}

table {
border-collapse: collapse;
}

th, td{
padding: 10px;
text-align: center;
width: 120px;
}

th{
font-weight: bold;
}


tr:nth-child(even) {
background-color: #DCEBE6;
}

tr:hover {
background-color: #085F63;
color: #fff;
}
